.containerStyle {
  margin-top: 5%;
  border: 8px solid silver;
  border-radius: 5%;
  background-color: black
}

.coinRow {
  margin-bottom: 3%;
  margin-top: 3%;
  border-bottom: 1px solid black;
  color: bisque;
}

.coinRow > .colStyle {
  font-weight: bold;
  color: green;
}

.exchangeTitle {
  color: bisque;
  margin-top: 5%;
}

h5 {
  margin-bottom: 10%;
}

html {
  background-color: black
}

#arbitrageTitle {
  text-align: center;
  color: bisque;
}

.innerContainer {
  margin-bottom: 5%;
}
